@model IEnumerable<annorum_supra_18dec.Models.tbl_common_mtrl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

  $("p").click(function(){
    $(this).hide();
  });

  $("#edit").click(function(){
    $(this).hide();
  });

});
</script>
</head>

<div class="container">
            <div class="row">
                <h1>Material Management</h1>                
            </div>
			<div class="row">
                <div class="col-md-2" id="slctd_id" name="slctd_id" >Selected ID:</div>
				<div class="col-md-2" id="slctd_type" name="slctd_type">Selected TYPE:</div>
				<div class="col-md-2" id="slctd_subtype" name="slctd_subtype">Selected SUBTYPE:</div>
            </div>

@foreach (var item in Model) {
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <form role="form" action="" method="post">
                        <div class="form-group"> 
                            <div class="row border border-dark">
                                <div class="col-md-1">
                                    <h6>ID</h6> 
                                    <p>@Html.DisplayFor(modelItem => item.id)</p> 
                                </div>
                                <div class="col-md-3">
                                    <h5>TYPE</h5>
                                    <select class="form-control"> 
                                        <option>@Html.DisplayFor(modelItem => item.type)</option>                                         
                                        <option>2</option>                                         
                                        <option>3</option>                                         
                                    </select>                                     
                                </div>
                                <div class="col-md-3">
                                    <h5>SUB-TYPE</h5>
                                    <select class="form-control"> 
                                        <option>@Html.DisplayFor(modelItem => item.subtype)</option>                                         
                                        <option>2</option>                                         
                                        <option>3</option>                                         
                                    </select>                                     
                                </div>
                                <div class="col-md-auto">
                                    <h5>ACTION</h5>
                                    <button type="submit" class="btn btn-primary">Submit</button>
									<button class="btn btn-primary" id="edit">Edit</button>   
                                </div>
                            </div>
                        </div>                         
                        <hr/>
                    </form>
                </div>
            </div>
			}
        </div>         
        <!-- /container -->


