@model IEnumerable<annorum_supra_18dec.Models.tbl_common_mtrl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
$(document).ready(function(){

  /*$(".record").click(function(){
    $("#slctd_id").val("record");
  }); */

   @* $(".record").click(function(){//when a record class is clicked...
    $("#slctd_id").val((this)children.("#record_item0"));
  }); *@

   $(".record").click(function(){//when a record class is clicked...
       //$("#slctd_id").val("12");

       var selectedItem0 = $(this).attr("id");//works
       //var selectedItem0 = $(this).find("#record_item0").val();//works

       //var selectedItem0 = $(this).children(".col-md-1").attr("id");
       //var selectedItem0 = $(this).children("#yo").attr("class");
       //var selectedItem0 = $(this).children(".col-md-1").attr("id");

       //var selectedItem1 = $(this).find("#record_item1").val();//works, valid for inputs only
       var selectedItem1 = $(this).find("#record_item1").html();//works valid for inner html only

       //var selectedItem2 = $(this).find("#record_item2").val();//works, valid for inputs only
       var selectedItem2 = $(this).find("#record_item2").html();//works valid for inner html only
       
       //$(this).find(".form-control.record_item1").css( "background-color", "red" );//works
       //$(this).find("#record_item0").css("background-color", "red");//works
       //$(this).find("#record_item0").html("99");//works

       $("#slctd_id").val(selectedItem0);
       $("#slctd_type").val(selectedItem1);
       $("#slctd_subtype").val(selectedItem2);
       /*alert(
           "Selected for Edit or Delete POST:"+ '\n' +
           "Record: " + selectedItem0 + '\n' +
           "Type: " + selectedItem1 + '\n' +
           "Sub-type: " + selectedItem2 + '\n'
       );*/
   });

    $(".btn.btn-primary.editButton").click(function () {//when a record's edit button is clicked...
        $(this).hide();
        $(this).parent().find(".updateButton").show();
        $(this).parent().find(".deleteButton").hide();
        $(this).parent().find(".cancelButton").show();       
    });
    $(".btn.btn-primary.updateButton").click(function () {//when a record's edit button is clicked...
        $(this).hide();
        $(this).parent().find(".updateButton").show();
        $(this).parent().find(".deleteButton").hide();
        $(this).parent().find(".cancelButton").show();        
    });
    $(".btn.btn-primary.deleteButton").click(function () {//when a record's edit button is clicked...
        $(this).hide();
        $(this).parent().find(".updateButton").show();
        $(this).parent().find(".deleteButton").hide();
        $(this).parent().find(".cancelButton").show();
        
    });
    $(".btn.btn-primary.cancelButton").click(function () {//when a record's edit button is clicked...
        $(this).parent().find(".editButton").show();
        $(this).parent().find(".updateButton").hide();
        $(this).parent().find(".deleteButton").show();
        $(this).hide();       
        });

});
</script>
</head>

<div class="container">
    <div class="row">
        <h1>Material Management</h1>
    </div>

    <!--testing begin-->
    <div>
        <div class="row">
            <hr style="border: 1px solid red;">
            <h4>Testing: Record selected for edit or delete via Axios</h4>
        </div>

        <div class="row">

            <div class="col-md-2">ID: <input type="text" id="slctd_id" value="slctd_id"></div>
            <div class="col-md-2">TYPE: <input type="text" id="slctd_type" value="slctd_type"></div>
            <div class="col-md-2">SUBTYPE: <input type="text" id="slctd_subtype" value="slctd_subtype"></div>
            <div class="col-md-auto">
                <h5>ACTION</h5>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-primary">Update</button>
                <button class="btn btn-primary">Delete</button>
                <button class="btn btn-primary">Cancel</button>
            </div>
            <h4>Testing: Record selected for edit or delete via Axios</h4>
            <hr style="border: 1px solid red;">
        </div>
    </div>
    <!--testing end-->


    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="record" id=@Html.DisplayFor(modelItem => item.id) style="border: 1px solid black; padding-bottom:10px;">

                    <div class="col-md-1" id="yo">
                        <h6>ID</h6>
                        <p id="record_item0" value=@Html.DisplayFor(modelItem => item.id)>@Html.DisplayFor(modelItem => item.id)</p>
                    </div>

                    <div class="col-md-3 record_item1" id="record_item1_div">
                        <h5>TYPE</h5>
                        <p id="record_item1" value=@Html.DisplayFor(modelItem => item.type)>@Html.DisplayFor(modelItem => item.type)</p>
                        <!--
                        <input type="text" id="record_item1" value=@Html.DisplayFor(modelItem => item.type)>
                        -->
                    </div>

                    <div class="col-md-3">
                        <h5>SUB-TYPE</h5>
                        <!--
                        <input type="text" id="record_item2" value=@Html.DisplayFor(modelItem => item.subtype)>
                        -->
                        <p id="record_item2" value=@Html.DisplayFor(modelItem => item.subtype)>@Html.DisplayFor(modelItem => item.subtype)</p>
                    </div>

                    <div class="col-md-auto">
                        <h5>ACTION</h5>
                        <button class="btn btn-primary editButton">Edit</button>
                        <button class="btn btn-primary updateButton" style="display:none;">Update</button>
                        <button class="btn btn-primary deleteButton">Delete</button>
                        <button class="btn btn-primary cancelButton" style="display:none;">Cancel</button>
                    </div>

                </div>
            </div>
        </div><br />
    }

</div>         
        <!-- /container -->


