@model IEnumerable<annorum_supra_18dec.Models.tbl_common_mtrl>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){

  /*$(".record").click(function(){
    $("#slctd_id").val("record");
  }); */

   $(".record").click(function(){
    $("#slctd_id").val(parent().record_item0).val);
  });

});
</script>
</head>

<div class="container">
            <div class="row">
                <h1>Material Management</h1>                
            </div>
			<div class="row">
                <div class="col-md-2" >Selected ID: <input type="text" id="slctd_id" value="slctd_id"></div>
				<div class="col-md-2" >Selected TYPE: <input type="text" id="slctd_type" value="slctd_type"></div>
				<div class="col-md-2" >Selected SUBTYPE: <input type="text" id="slctd_subtype" value="slctd_subtype"></div>
            </div>

@foreach (var item in Model) {
            <div class="row">
                <div class="col-md-12">
                    <hr>
                            <div class="record">
                                <div class="col-md-1">
                                    <h6>ID</h6>
                                    <p id="record_item0" value=@Html.DisplayFor(modelItem => item.id)>@Html.DisplayFor(modelItem => item.id)</p>
                                    @* <p><input id="record_item0" type="text" value=@Html.DisplayFor(modelItem => item.id) visible="false"></p>  *@
                                    
                                </div>
                                <div class="col-md-3">
                                    <h5>TYPE</h5>
                                    <select class="form-control" id="record_item1"> 
                                        <option value=@Html.DisplayFor(modelItem => item.type) selected>@Html.DisplayFor(modelItem => item.type)</option>                                         
                                        <option>2</option>                                         
                                        <option>3</option>                                         
                                    </select>                                     
                                </div>
                                <div class="col-md-3">
                                    <h5>SUB-TYPE</h5>
                                    <select class="form-control" id="record_item2"> 
                                        <option value=@Html.DisplayFor(modelItem => item.subtype) selected>@Html.DisplayFor(modelItem => item.subtype)</option>                                         
                                        <option>2</option>                                         
                                        <option>3</option>                                         
                                    </select>                                     
                                </div>
                                <div class="col-md-auto">
                                    <h5>ACTION</h5>                           	
                                    <button class="btn btn-primary edit">Edit</button>	                                   
                                </div>
                            </div>
                        <hr/>					
                </div>
            </div>
			}
        </div>         
        <!-- /container -->


